<!DOCTYPE html>
<html lang="en">

<!-- Bootstrap core CSS -->
<link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

<!-- Custom fonts for this template -->
<link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
      rel="stylesheet">

<!-- Custom styles for this template -->
<link href="css/grayscale.min.css" rel="stylesheet">

<head>
    <meta charset="UTF-8">
    <title>Orders</title>
</head>
<body>
<h1>Orders:</h1>
<ul>
    {{#myorders}}
    <p>
        <button class="btn btn-primary" type="button" onclick="location.href='/order?id={{id}}'">{{title}}</button>
    </p>
    {{/myorders}}
    {{^myorders}}
    <p>No Orders to show yet!!!!!!!!!</p>
    {{/myorders}}
</ul>
<button class="btn btn-outline-primary" type="button" onclick="location.href='/neworderform'">New Order</button>
</body>
</html>