<!DOCTYPE html>
<html lang="en">
<script src="//code.jquery.com/jquery.min.js"></script>
<script src="snbutton.js"></script>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action='/neworder'>
    <input id="some-input-field" placeholder="input something" class="new-order-input">
    <input id="title-id" name='title' placeholder="Title" class="new-order-input">
    <button id="snbtn" class="btn btn-primary" value='Create Order' disabled="disabled">SUBMIT</button>
</form>
<script>
    $().ready(function() {
        SNButton.init("snbtn");
    });
</script>
</body>
</html>