<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Order</title>
</head>
<body>

<h1>{{#myorder}}{{title}}{{/myorder}}</h1>
{{#myorder}}{{#orderElements}}
<p>{{#striked}}<strike>{{/striked}}{{name}}{{#striked}}</strike>{{/striked}}</p>
{{/orderElements}}{{/myorder}}

<button onclick="deleteOrderAlert()">Delete Order</button>
<button onclick="location.href='/editorderform?id={{#myorder}}{{id}}{{/myorder}}'">Edit Order</button>

</body>
</html>

<script>
    function deleteOrderAlert() {
        if (confirm("Man! Are you sure of deleting the Order!!!")) {
            window.location.href = "/deleteorder?id={{#myorder}}{{id}}{{/myorder}}";
        }
    }
</script>