<!DOCTYPE html>
<html lang="en">

<!-- Bootstrap core CSS -->
<link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

<!-- Custom fonts for this template -->
<link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
      rel="stylesheet">

<!-- Custom styles for this template -->
<link href="css/grayscale.min.css" rel="stylesheet">

<head>
    <meta charset="UTF-8">
    <title>Order</title>
</head>
<body>

<h1>{{#myorder}}{{title}}{{/myorder}}</h1>
{{#myorder}}{{#orderElements}}
<p>{{#striked}}<strike>{{/striked}}{{name}}{{#striked}}</strike>{{/striked}}</p>
{{/orderElements}}{{/myorder}}

<p>
    <button class="btn btn-primary" onclick="location.href='/editorderform?id={{#myorder}}{{id}}{{/myorder}}'">
        Edit Order
    </button>
    <button class="btn btn-danger" onclick="deleteOrderAlert()">Delete Order</button>
</p>
<p>
    <button class="btn btn-warning" onclick="location.href='/'">Back to Orders list</button>
</p>

</body>
</html>

<script>
    function deleteOrderAlert() {
        if (confirm("Man! Are you sure of deleting the Order!!!")) {
            window.location.href = "/deleteorder?id={{#myorder}}{{id}}{{/myorder}}";
        }
    }
</script>